@charset "utf-8";
/* CSS Document */

.hidden{
	display: none;
}

body{
	font-family: helvetica;
	background-color: #f9f9f9;
}

a{
	text-decoration: none;
}

#topBar{
	background-color: #2ECC71;
	height: 25px;
}

#container{
	width: 1000px;
	margin: 0 auto;
	background-color: white;
	box-shadow: 5px 10px 9px #dddddd;
}

#mainHeader{
	height: 200px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

#mainNav ul li{
	display: inline;
	margin: 30px;
	color: #2ECC71;
	font-size: 18px;
}

#mainArea{
	margin: 30px;
}

#mainArea h2{
	font-size: 30px;
}

#iconArea object{
	border: 3px solid;
	border-color: black;
	padding: 8px;
	width: 200px;
	height: 200px;
	margin: 30px;
}

.iconArea{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;
}


footer{
	background-color: #2ECC71;
	display: flex;
	align-items: center; 
	height: 75px;
}

footer ul li{
	color: black;
	font-size: 16px;
	margin: 20px;
	display: inline;
}


.iconArea img{
	color: green;
}